/* @imports here */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i,700,700i');

/* Responcive design */

.container {
  margin: auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

/* Mobile first queries */

/* Larger than phone */
@media screen and (min-width: 400px) {
  .container {
    max-width: 360px;
    width: auto;
  }
}

/* Larger than large phone */
@media screen and (min-width: 550px) {
  .container {
    max-width: 500px;
    width: auto;
  }

}

/* Larger than tablet */
@media screen and (min-width: 750px) {
  .container {
    max-width: 700px;
    width: auto;
  }
}

/* Larger than desktop */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 850px;
    width: auto;
  }
}

/* Larger than Desktop HD */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 950px;
    width: auto;
  }
}

/* Typography */

html {
  font-family: Montserrat;
  font-weight: light;
  min-height: 100%;
  position: relative;
}
h1 {
  font-weight: lighter;
  font-size: 3rem;
}
h2 {
  font-weight: lighter;
}

a.nolink {
  text-decoration: none;
  color: #000000;
}

a.nolink:hover {
  text-decoration: underline;
  color: #000000;
}

/* Grid System */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 667px;) {
  .row {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.column {
  width: 30%;

}

/* Elements */

body {
  padding: 25px;
  margin: 0 0 100;
}

hr {
  color: #57606f;
}

/* Buttons */



/* Automatically snaps to bottom of screen */

footer.footer {
  background-color: #dfe4ea;
  width: 100%;
  padding-top: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
